# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit / session files
*.log
*.db
*.csv

# OS files
.DS_Store
Thumbs.db

